*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media (max-width: 75em) {
  *,
  *::before,
  *::after {
    -webkit-tap-highlight-color: transparent;
  }
}

:root {
  font-size: 62.5%;
}

@media (max-width: 112.5em) {
  :root {
    font-size: 59.5%;
  }
}

@media (max-width: 75em) {
  :root {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  :root {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body.sidebarOpen {
  overflow: hidden;
}

.heading-primary {
  font-size: 8rem;
  color: #2c2c2c;
  letter-spacing: 1px;
}

@media (max-width: 56.25em) {
  .heading-primary {
    font-size: 7rem;
    color: white;
  }
}

@media (max-width: 37.5em) {
  .heading-primary {
    font-size: 4rem;
    color: white;
    text-align: center;
  }
}

.heading-secondary {
  font-size: 4.5rem;
  color: #2c2c2c;
  letter-spacing: 1px;
}

@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3.5rem;
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  color: #5a5a5a;
  letter-spacing: 1px;
}

.main-text {
  font-size: 2.2rem;
  font-weight: 600;
  color: white;
}

@media (max-width: 37.5em) {
  .main-text {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
}

.city-title {
  font-size: 4rem;
}

@media (max-width: 56.25em) {
  .city-title {
    font-size: 3rem;
  }
}

.city-description {
  font-size: 2rem;
  line-height: 3.5rem;
  color: #838383;
  margin: 1.7rem 0;
}

.city-place {
  font-size: 2rem;
  line-height: 3.5rem;
  color: #838383;
  margin: 1.7rem 0;
}

@media (max-width: 56.25em) {
  .city-place {
    margin: 2rem 0 .5rem 0;
  }
}

.u-margin-small {
  margin: 1rem 0;
}

.u-margin-medium {
  margin: 3rem 0;
}

.u-margin-big {
  margin: 5rem 0;
}

.u-margin-massive {
  margin: 15rem 0;
}

.u-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.u-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.separator {
  width: 100%;
}

.separator__grey {
  border: 1px solid rgba(230, 230, 230, 0.644);
}

.separator__blue {
  border: 1px solid #c8d3f5;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (max-width: 56.25em) {
  .navbar__menu {
    display: none;
  }
}

.navbar__logo, .navbar__link {
  text-decoration: none;
  color: white;
  padding: 1.3rem 0;
  letter-spacing: 1px;
}

.navbar__logo {
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar__item:not(:last-child) {
  margin-right: 5rem;
}

@media (max-width: 75em) {
  .navbar__item:not(:last-child) {
    margin-right: 2rem;
  }
}

@media (max-width: 112.5em) {
  .navbar__item:not(:last-child) {
    margin-right: 2.3rem;
  }
}

.navbar__link {
  font-size: 1.6rem;
  position: relative;
  display: inline-block;
}

.navbar__link::after {
  content: '';
  position: absolute;
  background-color: #ffbe71;
  height: 3px;
  width: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin: 0 auto;
}

.navbar__link:hover::after {
  width: 100%;
}

.navbar__link.active::after {
  content: '';
  position: absolute;
  background-color: #ffbe71;
  height: 3px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 56.25em) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn {
  width: 17rem;
  padding: 1.2rem 0;
  border-radius: 2.5rem;
}

@media (max-width: 112.5em) {
  .btn {
    width: 16rem;
    padding: 1.4rem 0;
  }
}

@media (max-width: 56.25em) {
  .btn {
    width: 19rem;
    padding: 1.5rem 0;
  }
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
}

.btn:not(:last-child), .btn:link:not(:last-child), .btn:visited:not(:last-child) {
  margin-right: 2rem;
}

.btn--blue {
  background: -webkit-gradient(linear, left top, right top, from(#578de5), to(#87c5c2));
  background: linear-gradient(to right, #578de5, #87c5c2);
  color: white;
  border: none;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.42);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--blue:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.42);
}

@media (max-width: 56.25em) {
  .btn--blue:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn--blue-purple {
  background: -webkit-gradient(linear, left top, right top, from(#a286b4), to(#b5c8fd));
  background: linear-gradient(to right, #a286b4, #b5c8fd);
  color: white;
  border: none;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.42);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--blue-purple:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.42);
}

@media (max-width: 56.25em) {
  .btn--blue-purple:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn--yellow {
  background: #e6bc5d;
  color: black;
  border: 1px solid #e6bc5d;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.42);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--yellow:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.42);
}

@media (max-width: 56.25em) {
  .btn--yellow:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn--yellow-orange {
  background: -webkit-gradient(linear, left top, right top, from(#fac268), to(#f98642));
  background: linear-gradient(to right, #fac268, #f98642);
  color: white;
  border: none;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.42);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--yellow-orange:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.42);
}

@media (max-width: 56.25em) {
  .btn--yellow-orange:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn--white {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--white:hover {
  background-color: white;
  color: #80c1b9;
}

@media (max-width: 37.5em) {
  .btn--white:hover {
    background-color: transparent;
    color: white;
  }
}

.btn--grey {
  background-color: transparent;
  border: 1px solid #5a5a5a;
  color: #5a5a5a;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.city {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem 0;
}

@media (max-width: 112.5em) {
  .city {
    width: 65%;
  }
}

@media (max-width: 75em) {
  .city {
    width: 85%;
    margin: 4rem 0;
  }
}

@media (max-width: 56.25em) {
  .city {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 4rem 0;
  }
}

.city__text {
  max-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 56.25em) {
  .city__text {
    max-width: 100%;
  }
}

.city__image {
  max-width: 55%;
  max-height: 55rem;
}

@media (max-width: 56.25em) {
  .city__image {
    max-width: 55%;
    max-height: 45rem;
  }
}

@media (max-width: 37.5em) {
  .city__image {
    max-width: 80%;
    max-height: 40rem;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form__input {
  border: none;
  padding: 2px;
  border-radius: 25px;
  padding: 1.7rem 3rem;
  font-size: 1.6rem;
  min-width: 40rem;
  -webkit-box-shadow: 1px 2px 10px #949494;
          box-shadow: 1px 2px 10px #949494;
}

.contact-form__input:focus {
  outline: none;
}

.contact-form__input::-webkit-input-placeholder {
  color: #b3b3b3;
}

.contact-form__input:-ms-input-placeholder {
  color: #b3b3b3;
}

.contact-form__input::-ms-input-placeholder {
  color: #b3b3b3;
}

.contact-form__input::placeholder {
  color: #b3b3b3;
}

.contact-form__submit {
  -webkit-box-shadow: -1px 0 4px #949494;
          box-shadow: -1px 0 4px #949494;
  font-size: 1.6rem;
  margin-left: -10.7rem;
  border-radius: 25px;
  border: none;
  padding: 1.7rem 3rem;
  cursor: pointer;
  background-color: #8acaf0;
  color: white;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact-form__submit:hover {
  background-color: #65bdf0;
}

.contact-form__submit:focus {
  outline: none;
}

.customers {
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 80%;
}

@media (max-width: 37.5em) {
  .customers {
    width: 90%;
  }
}

.customers__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80rem;
  border-radius: 5px;
}

@media (max-width: 37.5em) {
  .customers__box {
    height: 50rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.portraits {
  width: 50%;
  height: 70%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .portraits {
    width: 100%;
  }
}

.portraits__pic {
  border-radius: 50%;
  height: 6rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portraits__pic:hover:not(:last-child) {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portraits__pic:nth-child(1) {
  position: absolute;
  top: 42%;
  left: 10%;
  height: 8rem;
}

@media (max-width: 37.5em) {
  .portraits__pic:nth-child(1) {
    top: 4rem;
    left: 0;
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }
}

.portraits__pic:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 37.5em) {
  .portraits__pic:nth-child(2) {
    top: 1rem;
    left: 30rem;
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }
}

.portraits__pic:nth-child(3) {
  right: 0;
  position: absolute;
  top: 15%;
  left: 35%;
}

@media (max-width: 37.5em) {
  .portraits__pic:nth-child(3) {
    top: 25%;
    left: 55%;
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }
}

.portraits__pic:nth-child(4) {
  position: absolute;
  bottom: 0;
}

@media (max-width: 37.5em) {
  .portraits__pic:nth-child(4) {
    bottom: 14%;
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }
}

.portraits__pic:nth-child(5) {
  position: absolute;
  bottom: 15%;
  left: 35%;
}

@media (max-width: 37.5em) {
  .portraits__pic:nth-child(5) {
    bottom: 6%;
    left: 80%;
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }
}

.portraits__pic:nth-child(6) {
  position: absolute;
  right: 2rem;
  bottom: 40%;
  height: 12rem;
  border: 10px solid #e9e5f0;
}

@media (max-width: 37.5em) {
  .portraits__pic:nth-child(6) {
    height: 13rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    bottom: -5rem;
  }
}

.review {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .review {
    width: 100%;
    height: 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.review__text {
  width: 95%;
  height: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 2rem;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #e9e5f0;
  position: relative;
}

@media (max-width: 37.5em) {
  .review__text {
    border: 1px solid #e9e5f0;
    width: 100%;
    height: 15rem;
    -webkit-box-shadow: 1px 1px 4px rgba(200, 200, 200, 0.356);
            box-shadow: 1px 1px 4px rgba(200, 200, 200, 0.356);
  }
}

.review__text::before {
  top: -8rem;
  left: -3rem;
  z-index: -1000;
  color: #e9e5f0;
  position: absolute;
  content: '\f10d';
  font-family: "Font Awesome 5 Free";
  font-size: 10rem;
  font-weight: 900;
}

@media (max-width: 37.5em) {
  .review__text::before {
    top: -4rem;
    font-size: 6rem;
  }
}

.review__text::after {
  top: 17rem;
  right: -3rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: -1000;
  color: #e9e5f0;
  position: absolute;
  content: '\f10d';
  font-family: "Font Awesome 5 Free";
  font-size: 10rem;
  font-weight: 900;
}

@media (max-width: 37.5em) {
  .review__text::after {
    top: 12rem;
    font-size: 6rem;
  }
}

.review__citation {
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 2rem;
}

.review__author {
  font-size: 1.6rem;
  font-weight: 600;
  color: #9c9c9c;
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 15rem;
  width: 20%;
  cursor: pointer;
  margin-top: 2rem;
}

.play:hover > i {
  color: #80c1b9;
  border: 1px solid #fff;
  background-color: #fff;
}

@media (max-width: 75em) {
  .play {
    display: none;
  }
}

.play-btn {
  font-size: 1.4rem;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1.5rem 1.5rem 1.5rem 1.8rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.play__text {
  font-size: 1.6rem;
  color: white;
}

@media (max-width: 56.25em) {
  main {
    padding: 0 1.5rem;
  }
}

.header {
  background-color: #80c1b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

@media (max-width: 56.25em) {
  @supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
  }
}

.header-wrapper {
  background: url("../../assets/images/fond2.PNG") 2% 15%/15% no-repeat, url("../../assets/images/fond.jpg") right 55%/50% no-repeat;
  height: 100vh;
  width: 60%;
}

@media (max-width: 75em) {
  .header-wrapper {
    background: url("../../assets/images/fond2.PNG") 2% 20%/15% no-repeat, url("../../assets/images/fond.jpg") 85% 55%/50% no-repeat;
    width: 90%;
  }
}

@media (max-width: 56.25em) {
  .header-wrapper {
    background: url("../../assets/images/fond.jpg") center 55%/65% no-repeat;
  }
}

@media (max-width: 37.5em) {
  .header-wrapper {
    background: url("../../assets/images/fond.jpg") center 55%/85% no-repeat;
  }
}

.preview {
  height: 100%;
  width: 100%;
}

.preview__text-box {
  max-width: 67%;
  height: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 56.25em) {
  .preview__text-box {
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 56.25em) {
  .preview__texts {
    text-align: center;
    margin-top: 4rem;
  }
}

.footer {
  min-height: 50vh;
  background-color: #b4c5fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10rem;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
  .footer {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 56.25em) {
  @supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
    .footer {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }
  }
}

@media (max-width: 37.5em) {
  .footer {
    padding-top: 4rem;
  }
}

.footer__up {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__separator {
  width: 75%;
  margin: 4rem 0;
}

@media (max-width: 56.25em) {
  .footer__separator {
    margin: 4rem 0;
  }
}

@media (max-width: 37.5em) {
  .footer__separator {
    margin: 1rem 0;
  }
}

.footer__down {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 75em) {
  .footer__down {
    width: 80%;
    font-size: 1.2rem;
  }
}

@media (max-width: 56.25em) {
  .footer__down {
    width: 85%;
    font-size: 1.4rem;
  }
}

.footer__copyright {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 2rem;
}

.signup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 75em) {
  .signup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.col__title {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

@media (max-width: 56.25em) {
  .col__title {
    font-size: 1.7rem;
  }
}

@media (max-width: 37.5em) {
  .col__title {
    font-size: 1.5rem;
  }
}

.col__list {
  list-style: none;
}

.col__item {
  margin: 3rem 0;
}

@media (max-width: 37.5em) {
  .col__item {
    display: none;
  }
}

.col__link {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  padding: 1rem 0;
  -webkit-transition: color .2s;
  transition: color .2s;
  position: relative;
}

@media (max-width: 56.25em) {
  .col__link {
    font-size: 1.4rem;
  }
}

@media (max-width: 37.5em) {
  .col__link {
    font-size: 1rem;
  }
}

.col__link::after {
  content: '';
  position: absolute;
  background-color: #ffbe71;
  height: 3px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 0;
}

.col__link:hover::after {
  opacity: 1;
}

@media (max-width: 75em) {
  .cta {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.cta__signup {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.cta__offer {
  font-size: 4rem;
  color: white;
  font-weight: 600;
}

@media (max-width: 37.5em) {
  .cta__offer {
    font-size: 2.8rem;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  display: none;
  background-color: transparent;
  height: 7rem;
  width: 7rem;
  position: absolute;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 10000;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 56.25em) {
  .navigation__button {
    top: .2rem;
    right: 1rem;
    display: block;
  }
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(green, black);
  z-index: 1000;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

@media (max-width: 56.25em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

@media (max-width: 37.5em) {
  .navigation__background {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link {
  padding: 1rem 2rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: green;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 2.5rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.62, 0.06, 0.48, 1.48);
  transition: all 0.3s cubic-bezier(0.62, 0.06, 0.48, 1.48);
}

.navigation__icon::before {
  top: -.85rem;
}

.navigation__icon::after {
  top: .9rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

.sidebar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(31, 31, 31, 0.719);
  z-index: 5000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__menu {
  list-style: none;
  text-align: center;
}

.sidebar__item {
  margin: 4rem 0;
}

.sidebar__link {
  text-decoration: none;
  font-size: 3.5rem;
  color: white;
  padding: 1rem;
}

.sidebar__link.active {
  color: #e6bc5d;
}

.sidebar.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.565);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
  z-index: 1000;
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #fff;
  font-size: 3rem;
  padding: .5rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.modal__close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10rem 0;
  margin-top: -10vh;
}

.presentation {
  max-width: 65rem;
  margin-top: 4vh;
}

.presentation__tagline {
  font-size: 1.8rem;
  margin-top: 3rem;
  line-height: 2.8rem;
}

.section-cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10vh;
}

@media (max-width: 56.25em) {
  .section-cities__desktop {
    display: none;
  }
}

.section-cities__mobile {
  display: none;
}

@media (max-width: 56.25em) {
  .section-cities__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-feedbacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}
/*# sourceMappingURL=main.css.map */