.modal {
    backdrop-filter: blur(6px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.565);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
    z-index: 1000;
    
    &.active {
        visibility: visible;
        opacity: 1;
    }

    &__close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: $color-white;
        font-size: 3rem;
        padding: .5rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}