.sidebar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    // background-color: rgba(51, 51, 51, 0.719);
    background-color: rgba(31, 31, 31, 0.719);
    z-index: 5000;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__menu {
        list-style: none;
        text-align: center;
    }
    
    &__item {
        margin: 4rem 0;
    }
    
    &__link {
        text-decoration: none;
        font-size: 3.5rem;
        color: $font-color-1;
        padding: 1rem;

        &.active {
            color: $color-secondary;
        }
    }

    &.open {
        transform: translateX(0);
        // backdrop-filter: blur(8px);
    }

}