.customers {
    // border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 10rem;
    width: 80%;

    @include respond(phone) {
        width: 90%;
    }

    &__box {
        // border: 2px solid #e9e5f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80rem;
        // width: 80%;
        border-radius: 5px;
        
        @include respond(phone) {
            height: 50rem;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.portraits {
    // border: 2px solid #5111be;
    width: 50%;
    height: 70%;
    position: relative;
    display: flex;
    align-items: center;

    @include respond(phone) {
        width: 100%;
    }
    
    &__pic {
        border-radius: 50%;
        height: 6rem;
        cursor: pointer;
        transition: all .3s;

        &:hover:not(:last-child) {
            transform: scale(1.1);
        }

        &:nth-child(1) {
            position: absolute;
            top: 42%;
            left: 10%;
            height: 8rem;

            @include respond(phone) {
                top: 4rem;
                left: 0;
                filter: opacity(.4);
            }
        }
        
        &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            
            @include respond(phone) {
                top: 1rem;
                left: 30rem;
                filter: opacity(.4);
            }
        }

        &:nth-child(3) {
            right: 0;
            position: absolute;
            top: 15%;
            left: 35%;

            @include respond(phone) {
                top: 25%;
                left: 55%;
                filter: opacity(.4);
            }
        }

        &:nth-child(4) {
            position: absolute;
            bottom: 0;

            @include respond(phone) {
                bottom: 6%;
                filter: opacity(.4);
            }
        }

        &:nth-child(5) {
            position: absolute;
            bottom: 15%;
            left: 35%;

            @include respond(phone) {
                bottom: 15%;
                left: 80%;
                filter: opacity(.4);
            }
        }

        &:nth-child(6) {
            position: absolute;
            right: 2rem;
            bottom: 40%;
            height: 12rem;
            border: 10px solid #e9e5f0;

            @include respond(phone) {
                height: 13rem;
                left: 50%;
                transform: translate(-50%, -50%);
                // right: 15rem;
                bottom: -5rem;
            }
        }
    }
}

.review {
    // border: 1px solid red;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    @include respond(phone) {
        width: 100%;
        height: 30%;
        justify-content: center;
    }
    
    &__text {
        width: 95%;
        height: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 2rem;
        border-radius: 10px;
        border: 3px solid #e9e5f0;
        
        @include respond(phone) {
            border: 1px solid #e9e5f0;
            width: 100%;
            height: 15rem;
            box-shadow: 1px 1px 4px rgba(200, 200, 200, 0.356);
        }
    }
    
    &__citation {
        font-size: 2.2rem;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &__author {
        font-size: $default-font-size;
        font-weight: 600;
        color: rgb(156, 156, 156);
    }
}